.square {
    width: 200px;
    height: 200px;
    background: blue;
    border: solid 3px red;
    margin: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    background: deepskyblue;
    border: solid black 3px;
    border-radius: 50%;
    margin: 20px;
    padding: 5px;
}

.circle_inside {
    width: 94px;
    height: 94px;
    background: deepskyblue;
    border: solid black 3px;
    border-radius: 50%;
}

.table {
    font-size: x-large;
    margin: 20px;
}

td, th {
    border: 1px solid black;
    padding: 20px 10px;
}

thead   {
    text-align: left;
    background: blue;
    color: white;
}

tbody {
    text-align: center;
    background: #ffc350;
}

thead tr td:first-child {
    border-top-left-radius: 20px;
}

thead tr td:last-child {
    border-top-right-radius: 20px;
}

tbody .table_lastrow td:first-child {
    border-bottom-left-radius: 20px;
}

tbody .table_lastrow td:last-child {
    border-bottom-right-radius: 20px;
}

.formula {
    font-size: x-large;
    font-style: italic;
    margin: 20px;
}

.sub {
    vertical-align: sub;
    font-size: smaller;
    color: blue;
    font-style: normal;
}

.sup {
    vertical-align: super;
    color: red;
    font-size: smaller;
    font-style: normal;
}

.strip {
    background: firebrick;
    margin: 20px;
    padding: 10px;
}

.link1 {
    font-style: italic;
    font-size: xx-large;
    color: red;
    margin: 10px;
    text-decoration: underline;
}



.link2 {
    font-style: italic;
    font-size: xx-large;
    color: greenyellow;
    margin: 10px;
    text-decoration: underline;
}

.link3 {
    font-style: italic;
    font-size: xx-large;
    color: lightskyblue;
    margin: 10px;
    text-decoration: underline;
}

.diagram {
    background: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    border: 30px solid limegreen;
    border-right: 30px solid lightgreen;
    border-radius: 50%;
    line-height:100px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
