/******1.******/

.div1-container {
    display: flex;

    margin: 20px;
}

.div1-triangle {
    margin: 10px;
}

.div1-triangle-up {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid red;
}

.div1-triangle-down {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 100px solid red;
}

.div1-triangle-left {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 100px solid red;
}

.div1-triangle-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 100px solid red;
}

/******2.******/

.div2   {
    margin: 20px;
}

.capital-letter {
    color: #0039A6;
    font-weight: bold;
    font-size: 1.3em;
}

/********3.********/

.div3  {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div3-div1 {
    border-top: 1px solid black;
    width: 770px;
}

.div3-div2 {
    border-top: 1px solid black;
    width: 760px;
}

.div3-p {
    margin-top: 0;
    margin-right: 0;
}

.italic3 {
    font-style: italic;
}

/*******4.******/

.div4 {
    margin: 20px;
}

.div4-p1::selection {
    background-color: blue;
    color: white;
}

.div4-p2::selection {
    background-color: red;
    color: white;
}

/**********5.********/

.input5 {
    margin-left: 20px;
}

.input5::placeholder {
    color: blue;
    background-color: darkgray;
}

/********6.*******/


.input6 {
    margin-left: 20px;
    width: 500px;
    box-shadow: -5px -3px 6px 4px gray;
    border:whitesmoke;
}

.input6::placeholder {
    color: red;
}

/********7.********/

.div7 {
    margin: 20px;
}

.div7-div::before {
    content: '\25ba';
    padding-right: 10px;
}

/********8.******/

.div8 {
    margin: 20px;
    counter-reset: n 0;
}

.div8-p::before {
    counter-increment: n;
    content: "Абзац {" counter(n) "}:";
    padding-right: 10px;
}

/********9.*******/

.ol9 {
    margin: 20px;
}

.ol9-li {
    font-size: 1.5em;
}

.ol9-li:nth-child(4) {
    font-size: 2em;
    color: blue;
}

/********10.*****/


.ol10 {
    margin: 20px;
}

.ol10-li {
    font-size: 1.5em;
}

.ol10-li:nth-child(odd) {
    font-size: 2em;
    color: blue;
}

/*********11.******/