/*2. Создать div и стилизовать его динамически в js коде. Для этого:*!*/
/*Используйте свойство className*/
/*Используйте свойство classList*/
/*Установив id элемента*/

.div-2a {
    height: 200px;
}

.div-2b {
    width: 300px;
}

#div-2c {
    background-color: green;
}


/*9. Дан элемент. Найдите его первого потомка и сделайте его текст красного цвета.*/

.div9-child {
    height: 40px;
    width: 100px;
    background-color: #0f1628;
    margin: 10px;
    color: white;
}