/*2. Создать div и стилизовать его динамически в js коде. Для этого:*!*/
/*Используйте свойство className*/
/*Используйте свойство classList*/
/*Установив id элемента*/

.div-2a {
    height: 200px;
}

.div-2b {
    width: 300px;
}

#div-2c {
    background-color: green;
}